@import './variables.scss';

.album-info-section {

    .album-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__cover.skeleton {
            background-color: $gray-3;
            animation: loading-skeleton 1.5s infinite;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                height: 80%;
                object-fit: contain;
            }
        }

        &__cover {
            $size: 140px;
            width: $size;
            height: $size;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__data {
            text-align: center;
        }

        &__title {
            font-size: 1.6rem;

        }

        &__artist {
            font-size: 1.4rem;
            font-weight: 500;
        }

    }
}

@media screen and (min-width: 600px) {
    .album-info-section {
        height: 340px;
        .album-info {
            &__cover {
                $size: 220px;
                width: $size;
                height: $size;
                margin-bottom: 10px;
            }
            
            &__title {
                font-size: 2.4rem;
            }
    
            &__artist {
                font-size: 1.8rem;
            }
        }   
    }
}

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
}