@import './variables.scss';

.main {
  height: calc(100vh - 120px);
  position: relative;

  &__text {
      width: 60%;

      p {
          font-size: 2.2rem;
          font-weight: 600;
          text-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
      }

      b {
          color: $primary-color-3;
      }
  }

  img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 80%;
      object-fit: cover;
  }
}

@media (min-width:600px) {
  .main {
      height: calc(100vh - 150px);

      &__text {
          width: 60%;
  
          p {
              font-size: 4rem;
              font-weight: 600;
              text-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
          }
  
          b {
              color: $primary-color-3;
          }
      }
  }
}