@import './variables.scss';
@import './mixins.scss';

.progress-bar {
    position: relative;
    max-width: 320px;
    margin: 0 auto;

    &--out {
        width: 87%;
        max-width: 400px;
        margin: 0 auto;
        background-color: $secondary-color-1;
        overflow: hidden;
    }

    &--in {
        width: 0%;
        background-color: $secondary-color-2;
        background: linear-gradient(#81f7aa,$secondary-color-2);
        transition: width 150ms linear;
    }

    &-shape {
        display: block;
        height: 7px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    span {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__time-left{
        position: absolute;
        right: 0px;
    }
}

@media screen and (min-width: 600px) {
    .progress-bar {
        max-width: 600px;

        &--out {
            width: 87%;
            max-width: unset;
        }

        &-shape {
            height: 12px;
            margin-bottom: 10px;
        }

        span {
            font-size: 1.8rem;
        }
    }
}