@import './variables.scss';
@import './mixins.scss';

.search-results-list {
    h2 {
        margin-bottom: 20px;
        font-size: 1.8rem;
        text-align: center;
    }
}

.tracks-list {
    @include track-list();
}

.results__albums {
    padding-top: 10px;

    .albums-list {
        margin-bottom: 20px;
        @include album-grid();
    }
} 

.artists-list {
    @include album-grid();
    margin-bottom: 20px;
}

@media  screen and (min-width: 600px) {
    .search-results-list {
        h2 {
            margin-bottom: 30px;
            font-size: 2rem;
        }

        & > div {
            padding-bottom: 30px;
        }
    }

}