@import './variables.scss';

.skeleton {
    // background-color: #DFE4E4;
    background-color: $gray-3;
    animation: loading-skeleton 1.5s infinite;
    z-index: -1;
}

.skeleton:nth-of-type(2n) {
    animation-delay: 0.5s;
}

// Search list

.track-item.skeleton {
    height: 60px;
}

.album-cover.skeleton, .artist-avatar.skeleton {
    margin-bottom: 10px;
}

.album-item:nth-of-type(2n) .skeleton{
    animation-delay: 0.5s;
}

.artist-name.skeleton {
    width: 100%;
    height: 15px;
}

.artist-avatar.skeleton {
    background-color: $gray-3;
}

.artist-item:nth-of-type(2n) .skeleton{
    animation-delay: 0.5s;
}

// Artist page 

.artist-image img.skeleton {
    object-fit: contain;
}

// Player
.player__info__track-name.skeleton {
    width: 80%;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.player__info__artist.skeleton {
    width: 50%;
    height: 20px;
    border-radius: 5px;
}

.progress-bar__time-passed.skeleton, .progress-bar__time-left.skeleton {
    display: inline-block;
    width: 36px;
    height: 15px;
    border-radius: 5px;
}

@media screen and (min-width:600px) {
    .track-item.skeleton {
        height: 76px;
    }
    .player__info__track-name.skeleton {
        height: 30px;
        margin-bottom: 10px;
    }
    
    .player__info__artist.skeleton {
        height: 25px;
    }
    .progress-bar__time-passed.skeleton, .progress-bar__time-left.skeleton {
        height: 20px;
    }
}

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
}