$font-titles: 'Poppins', sans-serif;
$font-text: 'Lato', sans-serif;
$gray-1: #4E5657;
$gray-2: #657070;
$gray-3: #7C898A;
$white: #EBF0F0;
$primary-color-1: #1E868A;
$primary-color-2: #53A3A6;
$primary-color-3: #95ECF0;
$secondary-color-1: #CFFFE0;
$secondary-color-2: #67C989;
$album-size: 110px;